@keyframes load {
        from {opacity: 0;}
        to {opacity: 1;}
    }

html {
     animation: load 2s ease-in-out forwards;
}

body {
    color:#210000;
    background-color: #f8f7f4;
    opacity: 0.9;
    font-family:Source Serif Pro, serif;
    background-image: url('images/pngwing.com.png');
    background-repeat: no-repeat;
    background-size: cover;
    
    
    }

h1, h2, h3,h4 {
    font-family:Source Sans Pro, sans-serif;
}

h1, footer{
    background-image: linear-gradient(to top, #CFD0CB 0%, 82.33082592487335%, #8F7A4F 100%);
    box-shadow: 5px 5px 35px grey;
}
h1{

    color:#af2304;
      text-shadow: 5px 2px 10px gray;
    
    padding: 0.75em;
    text-align: center;
    border-radius: 5px;
    width:70%;
    margin:10px auto;
    font-weight: 500;
    font-size: 2rem;
}

#menuMembership{
    display:none;
}

nav{
    /*border: 3px ridge white;*/
    width:80%;
    margin-inline:auto; 
    margin-top:1.5em;
    /*margin:40px auto 10px auto;*/
    display:flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
     font-family: 'Noto_Sans', sans-serif;

        
       
}

a {
    text-decoration: none;
    color:#210000;
        padding: 0.5em 1.5em;
    margin: 0 0.5em;
    font-size:1.25rem;
        border-radius: 5px;
        border: 1px ridge #8c774f;
        box-shadow: 10px 10px 25px grey;
        background-color: #f8f7f4;
        opacity: 0.8;
         font-family: 'Noto_Sans', sans-serif;
}

nav>a:hover{
    color:#af2304;
    opacity:1;
}

main{
    margin: 0 auto;
}

section{
    background-color: transparent;
    box-shadow: 10px 10px 25px grey;
      text-shadow: 5px 10px 15px gray;
      display: flex;
      flex-direction: column;
      margin:1em;
      border: 1px ridge white;
      border-radius: 5px;
}

h2{
    padding:0.5em;
    margin:0.5em 4.25em;
    width:50%;
    box-shadow: 20px 10px 25px grey;
       text-shadow: 5px 10px 15px gray;
    border-radius: 5px;
    color:#210000;
    font-weight: 500;
    font-size: 1.65rem;
    background-color:transparent;
    background-color: #f8f7f4;
   
    
    opacity: 0.85;
     box-shadow: 10px 10px 25px grey;
      text-shadow: 5px 10px 15px gray;
      text-align: center;
    margin:1em auto;
    border: 1px ridge white;
     
    
}




ul {
    padding: 0.5em 8em;
     border-radius: 5px;
          text-shadow: 5px 10px 5px gray;
        box-shadow: 10px 10px 25px grey;
       background-color: #f8f7f4;
       background-color:#CFD0CB;
       background-color:transparent;
      
        opacity: 0.9;
margin:0.25em auto; 
max-width:60%;
display:flex;
flex-direction: column;
align-items: left;
list-style-position: inside;
border: 1px ridge white;

}

li {
    
    font-size:1.15rem;
    margin:0.35em;
    padding:0.25em;
      text-shadow: 5px 10px 15px gray;
   
    
}



#member-btn{
    
    opacity:0.85;
    color:#af2304;
    text-shadow: 5px 10px 15px gray;
    max-width:35%;
    margin:1em auto;
 
    
}

#member-btn:hover{
    background-color:white;
    opacity:1;
    
}


footer {
    padding: 1.5em;
    text-align: center;
    width:74%;
    margin:0 auto;
    border-radius: 5px;
    color:#af2304;
    font-size:1.25rem;
    background-image: none;
   
 
}

footer >a {

    color:#af2304;
    background-color: inherit;
    border: none;
    box-shadow: none;
}

footer > a:hover {
 box-shadow: 10px 10px 35px #262401;
 border:#8c774f 1px ridge;
}

#second-nav-membership{
    display:none;
}

@media screen and (max-width:1050px){
    nav{flex-wrap:wrap;}
    h1{font-size: 2rem;}
    a {margin: 0.5rem;}
    h2,h3,h4 {font-size: 1.5rem;}
    .task{margin:0;}
    .lower>a {margin:0;}
    .upper {max-height: 170px;}
}


@media screen and (max-width:450px){
    nav {flex-direction: column;
        display: none;}
    a {   font-size: 0.8rem;
        text-align: center;
    color:#af2304;}
    h1{font-size:1.35rem;}
    img{display:none;}
        .magnet {width:inherit;}
    h2{font-size: 1.15rem;}
    .lower {
        flex-direction: column;}
    footer {padding:0.5em;}

    ul li
{    list-style-position:inside;
    
    }

  

    ul {max-width:80%;
        padding:0;
   }

 #second-nav-membership{
        display:none;
        
        flex-direction: column;
        max-width:90%;
        margin:0 auto;
    }
    #second-nav-membership a{
        color:#af2304;
        font-size: 1.5rem;
        text-align: center;
         margin:0.15em;
         border:1px ridge white;
        
    }
    #menu{
        display:block;
        margin-top: 0.5em;
        background-image:none;
        font-weight: 400;

    }

      #menuMembership{
        display:block;
        margin-top: 0.5em;
        background-image:none;
        font-weight: 400;

    }

    
    
}




